<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>To Do List</title>
  <link rel="stylesheet" href="css/styles.css">
</head>
<body>
<nav class="box">
  <a href="/">List</a>
  <a href="/about">About</a>
</nav>
